{% extends 'base.html' %}

{% block body %}

<form action="#">

  <select class="select" name="{{select_id}}" id="{{select_id}}">
    {% if not chosen_date %}
    <option value="">-- Select a swim session --</option>
    {% endif %}
    {% for name in data %}
    <option value="{{name}}">{{name}}</option>
    {% endfor %}
  </select>


  <select class="select" name="" id="swimmer">
    <option value="">-- Select a swimmer -- </option>
  </select>

  <select class="select" name="" id="event">
    <option value="">-- Select an event --</option>
  </select>



</form>
<div id="chart">

</div>
<div id="loading"></div>

<script>
  window.onload = function () {
    let dateSel = document.getElementById('chosen_date');
    let swimmerSel = document.getElementById("swimmer");
    let eventSel = document.getElementById("event");

    hide('#swimmer');
    hide('#event')

    dateSel.onchange = async function () {
      if (swimmerSel?.length) {
        swimmerSel.length = 1;
      }

      if (eventSel?.length) eventSel.length = 1;
      removeChild('#chart');
      hide('#swimmer');
      hide('#event');
      displayLoading();



      const data = { chosen_date: dateSel.value }

      const response = await fetch("/swimmersjson", {
        method: "POST",
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify(data)
      });
      const swimmers = await response.json();
      hideLoading();
      swimmers.forEach(function (item, index) {
        swimmerSel.options[swimmerSel.options.length] = new Option(item, item);
      });
      show('#swimmer');
    }
    swimmerSel.onchange = async function () {
      if (eventSel?.length) eventSel.length = 1;
      removeChild('#chart');
      hide('#event')

      displayLoading();

      //await sleep(5000);

      const data = {
        chosen_date: dateSel.value,
        swimmer: swimmerSel.value,
      };

      const response = await fetch("/eventsjson", {
        method: "POST",
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify(data)
      });
      const events = await response.json();
      hideLoading();
      events.forEach(function (item, index) {
        eventSel.options[eventSel.options.length] = new Option(item, item)
      });
      show('#event');
    }
    eventSel.onchange = async function () {
      removeChild('#chart');
      const chosen_event = eventSel.value;

      if (chosen_event) {
        const data = {
          chosen_date: dateSel.value,
          swimmer: swimmerSel.value,
          event: chosen_event,
        };

        displayLoading();

        const response = await fetch("/chartjson", {
          method: "POST",
          headers: {
            "Content-Type": "application/json"
          },
          body: JSON.stringify(data)
        });
        const chartData = await response.text();
        hideLoading();
        const chartDiv = document.getElementById('chart');
        chartDiv.insertAdjacentHTML("afterBegin", chartData)

      }
    }
  }

  function removeChild(selector) {
    const element = document.querySelector(selector);
    while (element.firstChild) {
      element.removeChild(element.firstChild);
    }
  }
  function hide(selector) {
    const element = document.querySelector(selector);
    element.style.display = "none";
  }
  function show(selector) {
    const element = document.querySelector(selector);
    element.style.display = "block";
  }
  const loader = document.querySelector("#loading");
  function displayLoading() {
    loader.classList.add("display");
    setTimeout(() => {
      loader.classList.remove("display");
    }, 5000);
  }

  function hideLoading() {
    loader.classList.remove("display");
  }
  const sleep = ms => new Promise(r => setTimeout(r, ms));

</script>
{% endblock body %}